#
# OpenSSL example configuration file.
# This is mostly being used for generation of certificate requests.
#

# This definition stops the following lines choking if HOME isn't
# defined.
HOME			= .
RANDFILE		= $ENV::HOME/.rnd

# Extra OBJECT IDENTIFIER info:
#oid_file		= $ENV::HOME/.oid
oid_section		= new_oids

# To use this configuration file with the "-extfile" option of the
# "openssl x509" utility, name here the section containing the
# X.509v3 extensions to use:
# extensions		= 
# (Alternatively, use a configuration file that has only
# X.509v3 extensions in its main [= default] section.)

[ new_oids ]

# We can add new OIDs in here for use by 'ca', 'req' and 'ts'.
# Add a simple OID like this:
# testoid1=1.2.3.4
# Or use config file substitution like this:
# testoid2=${testoid1}.5.6

# Policies used by the TSA examples.
tsa_policy1 = 1.2.3.4.1
tsa_policy2 = 1.2.3.4.5.6
tsa_policy3 = 1.2.3.4.5.7

####################################################################
[ ca ]
default_ca	= CA_default		# The default ca section

####################################################################
[ CA_default ]

dir		= $ENV::CA_HOME		# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
#unique_subject	= no			# Set to 'no' to allow creation of
					# several ctificates with same subject.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $dir/ca/cacert.pem 	# The CA certificate
serial		= $dir/serial 		# The current serial number
crlnumber	= $dir/crlnumber	# the current crl number
					# must be commented out to leave a V1 CRL
crl		= $dir/crl.pem 		# The current CRL
private_key	= $dir/private/cakey.pem# The private key
RANDFILE	= $dir/private/.rand	# private random number file

x509_extensions	= usr_cert		# The extentions to add to the cert

# Comment out the following two lines for the "traditional"
# (and highly broken) format.
# name_opt 	= ca_default		# Subject Name options
# cert_opt 	= ca_default		# Certificate field options

# Extension copying option: use with caution.
# copy_extensions = copy

# Extensions to add to a CRL. Note: Netscape communicator chokes on V2 CRLs
# so this is commented out by default to leave a V1 CRL.
# crlnumber must also be commented out to leave a V1 CRL.
# crl_extensions	= crl_ext

default_days	= 3650			# how long to certify for
default_crl_days= 30			# how long before next CRL
default_md	= default		# use public key default MD
preserve	= no			# keep passed DN ordering

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		= policy_match

# For the CA policy
[ policy_match ]
countryName		= match
stateOrProvinceName	= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= optional
emailAddress		= optional

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

####################################################################
[ req ]
default_bits		= 1024
default_keyfile 	= privkey.pem
prompt			= no
distinguished_name	= req_distinguished_name
attributes		= req_attributes
x509_extensions	= v3_ca	# The extentions to add to the self signed cert

# Passwords for private keys if not present they will be prompted for
# input_password = secret
# output_password = secret 

# This sets a mask for permitted string types. There are several options. 
# default: PrintableString, T61String, BMPString.
# pkix	 : PrintableString, BMPString (PKIX recommendation before 2004)
# utf8only: only UTF8Strings (PKIX recommendation after 2004).
# nombstr : PrintableString, T61String (no BMPStrings or UTF8Strings).
# MASK:XXXX a literal mask value.
# WARNING: ancient versions of Netscape crash on BMPStrings or UTF8Strings.
string_mask = utf8only

req_extensions = v3_req # The extensions to add to a certificate request

[ req_distinguished_name ]
C=BR
ST=RS
L=Bento Goncalves
O=Metaway
CN=*.metaway.com.br
emailAddress=suporte@metaway.com.br

# SET-ex3			= SET extension number 3

[ req_attributes ]
#challengePassword		= A challenge password
#challengePassword_min		= 4
#challengePassword_max		= 20
#challengePassword_default	= challenge

#unstructuredName		= An optional company name
#unstructuredName_default		= 

[ usr_cert ]

# These extensions are added when 'ca' signs a request.

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.

basicConstraints=CA:FALSE

# Here are some examples of the usage of nsCertType. If it is omitted
# the certificate can be used for anything *except* object signing.

# This is OK for an SSL server.
# nsCertType			= server

# For an object signing certificate this would be used.
# nsCertType = objsign

# For normal client use this is typical
# nsCertType = client, email

# and for everything including object signing:
# nsCertType = client, email, objsign

# This is typical in keyUsage for a client certificate.
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment

# This will be displayed in Netscape's comment listbox.
nsComment			= "Metaway Tecnologia"

# PKIX recommendations harmless if included in all certificates.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

# This stuff is for subjectAltName and issuerAltname.
# Import the email address.
# subjectAltName=email:copy
# An alternative to produce certificates that aren't
# deprecated according to PKIX.
# subjectAltName=email:move

# Copy subject details
# issuerAltName=issuer:copy

#nsCaRevocationUrl		= http://www.domain.dom/ca-crl.pem
#nsBaseUrl
#nsRevocationUrl
#nsRenewalUrl
#nsCaPolicyUrl
#nsSslServerName

# This is required for TSA certificates.
# extendedKeyUsage = critical,timeStamping

[ v3_req ]

# Extensions to add to a certificate request

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

subjectAltName=IP:192.168.0.3
subjectAltName=IP:192.168.0.4
subjectAltName=IP:192.168.0.5
subjectAltName=IP:192.168.0.6
subjectAltName=IP:192.168.0.7
subjectAltName=IP:192.168.0.8
subjectAltName=IP:192.168.0.9
subjectAltName=IP:192.168.0.10
subjectAltName=IP:192.168.0.11
subjectAltName=IP:192.168.0.12
subjectAltName=IP:192.168.0.13
subjectAltName=IP:192.168.0.14
subjectAltName=IP:192.168.0.15
subjectAltName=IP:192.168.0.16
subjectAltName=IP:192.168.0.17
subjectAltName=IP:192.168.0.18
subjectAltName=IP:192.168.0.19
subjectAltName=IP:192.168.0.20
subjectAltName=IP:192.168.0.21
subjectAltName=IP:192.168.0.22
subjectAltName=IP:192.168.0.23
subjectAltName=IP:192.168.0.24
subjectAltName=IP:192.168.0.25
subjectAltName=IP:192.168.0.26
subjectAltName=IP:192.168.0.27
subjectAltName=IP:192.168.0.28
subjectAltName=IP:192.168.0.29
subjectAltName=IP:192.168.0.30
subjectAltName=IP:192.168.0.31
subjectAltName=IP:192.168.0.32
subjectAltName=IP:192.168.0.33
subjectAltName=IP:192.168.0.34
subjectAltName=IP:192.168.0.35
subjectAltName=IP:192.168.0.36
subjectAltName=IP:192.168.0.37
subjectAltName=IP:192.168.0.38
subjectAltName=IP:192.168.0.39
subjectAltName=IP:192.168.0.40
subjectAltName=IP:192.168.0.41
subjectAltName=IP:192.168.0.42
subjectAltName=IP:192.168.0.43
subjectAltName=IP:192.168.0.44
subjectAltName=IP:192.168.0.45
subjectAltName=IP:192.168.0.46
subjectAltName=IP:192.168.0.47
subjectAltName=IP:192.168.0.48
subjectAltName=IP:192.168.0.49
subjectAltName=IP:192.168.0.50
subjectAltName=IP:192.168.0.51
subjectAltName=IP:192.168.0.52
subjectAltName=IP:192.168.0.53
subjectAltName=IP:192.168.0.54
subjectAltName=IP:192.168.0.55
subjectAltName=IP:192.168.0.56
subjectAltName=IP:192.168.0.57
subjectAltName=IP:192.168.0.58
subjectAltName=IP:192.168.0.59
subjectAltName=IP:192.168.0.60
subjectAltName=IP:192.168.0.61
subjectAltName=IP:192.168.0.62
subjectAltName=IP:192.168.0.63
subjectAltName=IP:192.168.0.64
subjectAltName=IP:192.168.0.65
subjectAltName=IP:192.168.0.66
subjectAltName=IP:192.168.0.67
subjectAltName=IP:192.168.0.68
subjectAltName=IP:192.168.0.69
subjectAltName=IP:192.168.0.70
subjectAltName=IP:192.168.0.71
subjectAltName=IP:192.168.0.72
subjectAltName=IP:192.168.0.73
subjectAltName=IP:192.168.0.74
subjectAltName=IP:192.168.0.75
subjectAltName=IP:192.168.0.76
subjectAltName=IP:192.168.0.77
subjectAltName=IP:192.168.0.78
subjectAltName=IP:192.168.0.79
subjectAltName=IP:192.168.0.80
subjectAltName=IP:192.168.0.81
subjectAltName=IP:192.168.0.82
subjectAltName=IP:192.168.0.83
subjectAltName=IP:192.168.0.84
subjectAltName=IP:192.168.0.85
subjectAltName=IP:192.168.0.86
subjectAltName=IP:192.168.0.87
subjectAltName=IP:192.168.0.88
subjectAltName=IP:192.168.0.89
subjectAltName=IP:192.168.0.90
subjectAltName=IP:192.168.0.91
subjectAltName=IP:192.168.0.92
subjectAltName=IP:192.168.0.93
subjectAltName=IP:192.168.0.94
subjectAltName=IP:192.168.0.95
subjectAltName=IP:192.168.0.96
subjectAltName=IP:192.168.0.97
subjectAltName=IP:192.168.0.98
subjectAltName=IP:192.168.0.99
subjectAltName=IP:192.168.0.100
subjectAltName=IP:192.168.0.101
subjectAltName=IP:192.168.0.102
subjectAltName=IP:192.168.0.103
subjectAltName=IP:192.168.0.104
subjectAltName=IP:192.168.0.105
subjectAltName=IP:192.168.0.106
subjectAltName=IP:192.168.0.107
subjectAltName=IP:192.168.0.108
subjectAltName=IP:192.168.0.109
subjectAltName=IP:192.168.0.110
subjectAltName=IP:192.168.0.111
subjectAltName=IP:192.168.0.112
subjectAltName=IP:192.168.0.113
subjectAltName=IP:192.168.0.114
subjectAltName=IP:192.168.0.115
subjectAltName=IP:192.168.0.116
subjectAltName=IP:192.168.0.117
subjectAltName=IP:192.168.0.118
subjectAltName=IP:192.168.0.119
subjectAltName=IP:192.168.0.120
subjectAltName=IP:192.168.0.121
subjectAltName=IP:192.168.0.122
subjectAltName=IP:192.168.0.123
subjectAltName=IP:192.168.0.124
subjectAltName=IP:192.168.0.125
subjectAltName=IP:192.168.0.126
subjectAltName=IP:192.168.0.127
subjectAltName=IP:192.168.0.128
subjectAltName=IP:192.168.0.129
subjectAltName=IP:192.168.0.130
subjectAltName=IP:192.168.0.131
subjectAltName=IP:192.168.0.132
subjectAltName=IP:192.168.0.133
subjectAltName=IP:192.168.0.134
subjectAltName=IP:192.168.0.135
subjectAltName=IP:192.168.0.136
subjectAltName=IP:192.168.0.137
subjectAltName=IP:192.168.0.138
subjectAltName=IP:192.168.0.139
subjectAltName=IP:192.168.0.140
subjectAltName=IP:192.168.0.141
subjectAltName=IP:192.168.0.142
subjectAltName=IP:192.168.0.143
subjectAltName=IP:192.168.0.144
subjectAltName=IP:192.168.0.145
subjectAltName=IP:192.168.0.146
subjectAltName=IP:192.168.0.147
subjectAltName=IP:192.168.0.148
subjectAltName=IP:192.168.0.149
subjectAltName=IP:192.168.0.150
subjectAltName=IP:192.168.0.151
subjectAltName=IP:192.168.0.152
subjectAltName=IP:192.168.0.153
subjectAltName=IP:192.168.0.154
subjectAltName=IP:192.168.0.155
subjectAltName=IP:192.168.0.156
subjectAltName=IP:192.168.0.157
subjectAltName=IP:192.168.0.158
subjectAltName=IP:192.168.0.159
subjectAltName=IP:192.168.0.160
subjectAltName=IP:192.168.0.161
subjectAltName=IP:192.168.0.162
subjectAltName=IP:192.168.0.163
subjectAltName=IP:192.168.0.164
subjectAltName=IP:192.168.0.165
subjectAltName=IP:192.168.0.166
subjectAltName=IP:192.168.0.167
subjectAltName=IP:192.168.0.168
subjectAltName=IP:192.168.0.169
subjectAltName=IP:192.168.0.170
subjectAltName=IP:192.168.0.171
subjectAltName=IP:192.168.0.172
subjectAltName=IP:192.168.0.173
subjectAltName=IP:192.168.0.174
subjectAltName=IP:192.168.0.175
subjectAltName=IP:192.168.0.176
subjectAltName=IP:192.168.0.177
subjectAltName=IP:192.168.0.178
subjectAltName=IP:192.168.0.179
subjectAltName=IP:192.168.0.180
subjectAltName=IP:192.168.0.181
subjectAltName=IP:192.168.0.182
subjectAltName=IP:192.168.0.183
subjectAltName=IP:192.168.0.184
subjectAltName=IP:192.168.0.185
subjectAltName=IP:192.168.0.186
subjectAltName=IP:192.168.0.187
subjectAltName=IP:192.168.0.188
subjectAltName=IP:192.168.0.189
subjectAltName=IP:192.168.0.190
subjectAltName=IP:192.168.0.191
subjectAltName=IP:192.168.0.192
subjectAltName=IP:192.168.0.193
subjectAltName=IP:192.168.0.194
subjectAltName=IP:192.168.0.195
subjectAltName=IP:192.168.0.196
subjectAltName=IP:192.168.0.197
subjectAltName=IP:192.168.0.198
subjectAltName=IP:192.168.0.199
subjectAltName=IP:192.168.0.200
subjectAltName=IP:192.168.0.201
subjectAltName=IP:192.168.0.202
subjectAltName=IP:192.168.0.203
subjectAltName=IP:192.168.0.204
subjectAltName=IP:192.168.0.205
subjectAltName=IP:192.168.0.206
subjectAltName=IP:192.168.0.207
subjectAltName=IP:192.168.0.208
subjectAltName=IP:192.168.0.209
subjectAltName=IP:192.168.0.210
subjectAltName=IP:192.168.0.211
subjectAltName=IP:192.168.0.212
subjectAltName=IP:192.168.0.213
subjectAltName=IP:192.168.0.214
subjectAltName=IP:192.168.0.215
subjectAltName=IP:192.168.0.216
subjectAltName=IP:192.168.0.217
subjectAltName=IP:192.168.0.218
subjectAltName=IP:192.168.0.219
subjectAltName=IP:192.168.0.220
subjectAltName=IP:192.168.0.221
subjectAltName=IP:192.168.0.222
subjectAltName=IP:192.168.0.223
subjectAltName=IP:192.168.0.224
subjectAltName=IP:192.168.0.225
subjectAltName=IP:192.168.0.226
subjectAltName=IP:192.168.0.227
subjectAltName=IP:192.168.0.228
subjectAltName=IP:192.168.0.229
subjectAltName=IP:192.168.0.230
subjectAltName=IP:192.168.0.231
subjectAltName=IP:192.168.0.232
subjectAltName=IP:192.168.0.233
subjectAltName=IP:192.168.0.234
subjectAltName=IP:192.168.0.235
subjectAltName=IP:192.168.0.236
subjectAltName=IP:192.168.0.237
subjectAltName=IP:192.168.0.238
subjectAltName=IP:192.168.0.239
subjectAltName=IP:192.168.0.240
subjectAltName=IP:192.168.0.241
subjectAltName=IP:192.168.0.242
subjectAltName=IP:192.168.0.243
subjectAltName=IP:192.168.0.244
subjectAltName=IP:192.168.0.245
subjectAltName=IP:192.168.0.246
subjectAltName=IP:192.168.0.247
subjectAltName=IP:192.168.0.248
subjectAltName=IP:192.168.0.249
subjectAltName=IP:192.168.0.250
subjectAltName=IP:192.168.0.251
subjectAltName=IP:192.168.0.252
subjectAltName=IP:192.168.0.253
subjectAltName=IP:192.168.0.254

[ v3_ca ]

# Extensions for a typical CA

# PKIX recommendation.

subjectKeyIdentifier=hash

authorityKeyIdentifier=keyid:always,issuer

# This is what PKIX recommends but some broken software chokes on critical
# extensions.
#basicConstraints = critical,CA:true
# So we do this instead.
basicConstraints = CA:true

# Key usage: this is typical for a CA certificate. However since it will
# prevent it being used as an test self-signed certificate it is best
# left out by default.
# keyUsage = cRLSign, keyCertSign

# Some might want this also
# nsCertType = sslCA, emailCA

# Include email address in subject alt name: another PKIX recommendation
# subjectAltName=email:copy
# Copy issuer details
# issuerAltName=issuer:copy

# DER hex encoding of an extension: beware experts only!
# obj=DER:02:03
# Where 'obj' is a standard or added object
# You can even override a supported extension:

subjectAltName=IP:192.168.0.3
subjectAltName=IP:192.168.0.4
subjectAltName=IP:192.168.0.5
subjectAltName=IP:192.168.0.6
subjectAltName=IP:192.168.0.7
subjectAltName=IP:192.168.0.8
subjectAltName=IP:192.168.0.9
subjectAltName=IP:192.168.0.10
subjectAltName=IP:192.168.0.11
subjectAltName=IP:192.168.0.12
subjectAltName=IP:192.168.0.13
subjectAltName=IP:192.168.0.14
subjectAltName=IP:192.168.0.15
subjectAltName=IP:192.168.0.16
subjectAltName=IP:192.168.0.17
subjectAltName=IP:192.168.0.18
subjectAltName=IP:192.168.0.19
subjectAltName=IP:192.168.0.20
subjectAltName=IP:192.168.0.21
subjectAltName=IP:192.168.0.22
subjectAltName=IP:192.168.0.23
subjectAltName=IP:192.168.0.24
subjectAltName=IP:192.168.0.25
subjectAltName=IP:192.168.0.26
subjectAltName=IP:192.168.0.27
subjectAltName=IP:192.168.0.28
subjectAltName=IP:192.168.0.29
subjectAltName=IP:192.168.0.30
subjectAltName=IP:192.168.0.31
subjectAltName=IP:192.168.0.32
subjectAltName=IP:192.168.0.33
subjectAltName=IP:192.168.0.34
subjectAltName=IP:192.168.0.35
subjectAltName=IP:192.168.0.36
subjectAltName=IP:192.168.0.37
subjectAltName=IP:192.168.0.38
subjectAltName=IP:192.168.0.39
subjectAltName=IP:192.168.0.40
subjectAltName=IP:192.168.0.41
subjectAltName=IP:192.168.0.42
subjectAltName=IP:192.168.0.43
subjectAltName=IP:192.168.0.44
subjectAltName=IP:192.168.0.45
subjectAltName=IP:192.168.0.46
subjectAltName=IP:192.168.0.47
subjectAltName=IP:192.168.0.48
subjectAltName=IP:192.168.0.49
subjectAltName=IP:192.168.0.50
subjectAltName=IP:192.168.0.51
subjectAltName=IP:192.168.0.52
subjectAltName=IP:192.168.0.53
subjectAltName=IP:192.168.0.54
subjectAltName=IP:192.168.0.55
subjectAltName=IP:192.168.0.56
subjectAltName=IP:192.168.0.57
subjectAltName=IP:192.168.0.58
subjectAltName=IP:192.168.0.59
subjectAltName=IP:192.168.0.60
subjectAltName=IP:192.168.0.61
subjectAltName=IP:192.168.0.62
subjectAltName=IP:192.168.0.63
subjectAltName=IP:192.168.0.64
subjectAltName=IP:192.168.0.65
subjectAltName=IP:192.168.0.66
subjectAltName=IP:192.168.0.67
subjectAltName=IP:192.168.0.68
subjectAltName=IP:192.168.0.69
subjectAltName=IP:192.168.0.70
subjectAltName=IP:192.168.0.71
subjectAltName=IP:192.168.0.72
subjectAltName=IP:192.168.0.73
subjectAltName=IP:192.168.0.74
subjectAltName=IP:192.168.0.75
subjectAltName=IP:192.168.0.76
subjectAltName=IP:192.168.0.77
subjectAltName=IP:192.168.0.78
subjectAltName=IP:192.168.0.79
subjectAltName=IP:192.168.0.80
subjectAltName=IP:192.168.0.81
subjectAltName=IP:192.168.0.82
subjectAltName=IP:192.168.0.83
subjectAltName=IP:192.168.0.84
subjectAltName=IP:192.168.0.85
subjectAltName=IP:192.168.0.86
subjectAltName=IP:192.168.0.87
subjectAltName=IP:192.168.0.88
subjectAltName=IP:192.168.0.89
subjectAltName=IP:192.168.0.90
subjectAltName=IP:192.168.0.91
subjectAltName=IP:192.168.0.92
subjectAltName=IP:192.168.0.93
subjectAltName=IP:192.168.0.94
subjectAltName=IP:192.168.0.95
subjectAltName=IP:192.168.0.96
subjectAltName=IP:192.168.0.97
subjectAltName=IP:192.168.0.98
subjectAltName=IP:192.168.0.99
subjectAltName=IP:192.168.0.100
subjectAltName=IP:192.168.0.101
subjectAltName=IP:192.168.0.102
subjectAltName=IP:192.168.0.103
subjectAltName=IP:192.168.0.104
subjectAltName=IP:192.168.0.105
subjectAltName=IP:192.168.0.106
subjectAltName=IP:192.168.0.107
subjectAltName=IP:192.168.0.108
subjectAltName=IP:192.168.0.109
subjectAltName=IP:192.168.0.110
subjectAltName=IP:192.168.0.111
subjectAltName=IP:192.168.0.112
subjectAltName=IP:192.168.0.113
subjectAltName=IP:192.168.0.114
subjectAltName=IP:192.168.0.115
subjectAltName=IP:192.168.0.116
subjectAltName=IP:192.168.0.117
subjectAltName=IP:192.168.0.118
subjectAltName=IP:192.168.0.119
subjectAltName=IP:192.168.0.120
subjectAltName=IP:192.168.0.121
subjectAltName=IP:192.168.0.122
subjectAltName=IP:192.168.0.123
subjectAltName=IP:192.168.0.124
subjectAltName=IP:192.168.0.125
subjectAltName=IP:192.168.0.126
subjectAltName=IP:192.168.0.127
subjectAltName=IP:192.168.0.128
subjectAltName=IP:192.168.0.129
subjectAltName=IP:192.168.0.130
subjectAltName=IP:192.168.0.131
subjectAltName=IP:192.168.0.132
subjectAltName=IP:192.168.0.133
subjectAltName=IP:192.168.0.134
subjectAltName=IP:192.168.0.135
subjectAltName=IP:192.168.0.136
subjectAltName=IP:192.168.0.137
subjectAltName=IP:192.168.0.138
subjectAltName=IP:192.168.0.139
subjectAltName=IP:192.168.0.140
subjectAltName=IP:192.168.0.141
subjectAltName=IP:192.168.0.142
subjectAltName=IP:192.168.0.143
subjectAltName=IP:192.168.0.144
subjectAltName=IP:192.168.0.145
subjectAltName=IP:192.168.0.146
subjectAltName=IP:192.168.0.147
subjectAltName=IP:192.168.0.148
subjectAltName=IP:192.168.0.149
subjectAltName=IP:192.168.0.150
subjectAltName=IP:192.168.0.151
subjectAltName=IP:192.168.0.152
subjectAltName=IP:192.168.0.153
subjectAltName=IP:192.168.0.154
subjectAltName=IP:192.168.0.155
subjectAltName=IP:192.168.0.156
subjectAltName=IP:192.168.0.157
subjectAltName=IP:192.168.0.158
subjectAltName=IP:192.168.0.159
subjectAltName=IP:192.168.0.160
subjectAltName=IP:192.168.0.161
subjectAltName=IP:192.168.0.162
subjectAltName=IP:192.168.0.163
subjectAltName=IP:192.168.0.164
subjectAltName=IP:192.168.0.165
subjectAltName=IP:192.168.0.166
subjectAltName=IP:192.168.0.167
subjectAltName=IP:192.168.0.168
subjectAltName=IP:192.168.0.169
subjectAltName=IP:192.168.0.170
subjectAltName=IP:192.168.0.171
subjectAltName=IP:192.168.0.172
subjectAltName=IP:192.168.0.173
subjectAltName=IP:192.168.0.174
subjectAltName=IP:192.168.0.175
subjectAltName=IP:192.168.0.176
subjectAltName=IP:192.168.0.177
subjectAltName=IP:192.168.0.178
subjectAltName=IP:192.168.0.179
subjectAltName=IP:192.168.0.180
subjectAltName=IP:192.168.0.181
subjectAltName=IP:192.168.0.182
subjectAltName=IP:192.168.0.183
subjectAltName=IP:192.168.0.184
subjectAltName=IP:192.168.0.185
subjectAltName=IP:192.168.0.186
subjectAltName=IP:192.168.0.187
subjectAltName=IP:192.168.0.188
subjectAltName=IP:192.168.0.189
subjectAltName=IP:192.168.0.190
subjectAltName=IP:192.168.0.191
subjectAltName=IP:192.168.0.192
subjectAltName=IP:192.168.0.193
subjectAltName=IP:192.168.0.194
subjectAltName=IP:192.168.0.195
subjectAltName=IP:192.168.0.196
subjectAltName=IP:192.168.0.197
subjectAltName=IP:192.168.0.198
subjectAltName=IP:192.168.0.199
subjectAltName=IP:192.168.0.200
subjectAltName=IP:192.168.0.201
subjectAltName=IP:192.168.0.202
subjectAltName=IP:192.168.0.203
subjectAltName=IP:192.168.0.204
subjectAltName=IP:192.168.0.205
subjectAltName=IP:192.168.0.206
subjectAltName=IP:192.168.0.207
subjectAltName=IP:192.168.0.208
subjectAltName=IP:192.168.0.209
subjectAltName=IP:192.168.0.210
subjectAltName=IP:192.168.0.211
subjectAltName=IP:192.168.0.212
subjectAltName=IP:192.168.0.213
subjectAltName=IP:192.168.0.214
subjectAltName=IP:192.168.0.215
subjectAltName=IP:192.168.0.216
subjectAltName=IP:192.168.0.217
subjectAltName=IP:192.168.0.218
subjectAltName=IP:192.168.0.219
subjectAltName=IP:192.168.0.220
subjectAltName=IP:192.168.0.221
subjectAltName=IP:192.168.0.222
subjectAltName=IP:192.168.0.223
subjectAltName=IP:192.168.0.224
subjectAltName=IP:192.168.0.225
subjectAltName=IP:192.168.0.226
subjectAltName=IP:192.168.0.227
subjectAltName=IP:192.168.0.228
subjectAltName=IP:192.168.0.229
subjectAltName=IP:192.168.0.230
subjectAltName=IP:192.168.0.231
subjectAltName=IP:192.168.0.232
subjectAltName=IP:192.168.0.233
subjectAltName=IP:192.168.0.234
subjectAltName=IP:192.168.0.235
subjectAltName=IP:192.168.0.236
subjectAltName=IP:192.168.0.237
subjectAltName=IP:192.168.0.238
subjectAltName=IP:192.168.0.239
subjectAltName=IP:192.168.0.240
subjectAltName=IP:192.168.0.241
subjectAltName=IP:192.168.0.242
subjectAltName=IP:192.168.0.243
subjectAltName=IP:192.168.0.244
subjectAltName=IP:192.168.0.245
subjectAltName=IP:192.168.0.246
subjectAltName=IP:192.168.0.247
subjectAltName=IP:192.168.0.248
subjectAltName=IP:192.168.0.249
subjectAltName=IP:192.168.0.250
subjectAltName=IP:192.168.0.251
subjectAltName=IP:192.168.0.252
subjectAltName=IP:192.168.0.253
subjectAltName=IP:192.168.0.254# basicConstraints= critical, DER:30:03:01:01:FF

[ crl_ext ]

# CRL extensions.
# Only issuerAltName and authorityKeyIdentifier make any sense in a CRL.

# issuerAltName=issuer:copy
authorityKeyIdentifier=keyid:always

[ proxy_cert_ext ]
# These extensions should be added when creating a proxy certificate

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.

basicConstraints=CA:FALSE

# Here are some examples of the usage of nsCertType. If it is omitted
# the certificate can be used for anything *except* object signing.

# This is OK for an SSL server.
# nsCertType			= server

# For an object signing certificate this would be used.
# nsCertType = objsign

# For normal client use this is typical
# nsCertType = client, email

# and for everything including object signing:
# nsCertType = client, email, objsign

# This is typical in keyUsage for a client certificate.
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment

# This will be displayed in Netscape's comment listbox.
nsComment			= "OpenSSL Generated Certificate"

# PKIX recommendations harmless if included in all certificates.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

# This stuff is for subjectAltName and issuerAltname.
# Import the email address.
# subjectAltName=email:copy
# An alternative to produce certificates that aren't
# deprecated according to PKIX.
# subjectAltName=email:move

# Copy subject details
# issuerAltName=issuer:copy

#nsCaRevocationUrl		= http://www.domain.dom/ca-crl.pem
#nsBaseUrl
#nsRevocationUrl
#nsRenewalUrl
#nsCaPolicyUrl
#nsSslServerName

# This really needs to be in place for it to be a proxy certificate.
proxyCertInfo=critical,language:id-ppl-anyLanguage,pathlen:3,policy:foo

####################################################################
[ tsa ]

default_tsa = tsa_config1	# the default TSA section

[ tsa_config1 ]

# These are used by the TSA reply generation only.
dir		= ./demoCA		# TSA root directory
serial		= $dir/tsaserial	# The current serial number (mandatory)
crypto_device	= builtin		# OpenSSL engine to use for signing
signer_cert	= $dir/tsacert.pem 	# The TSA signing certificate
					# (optional)
certs		= $dir/cacert.pem	# Certificate chain to include in reply
					# (optional)
signer_key	= $dir/private/tsakey.pem # The TSA private key (optional)



default_policy	= tsa_policy1		# Policy if request did not specify it
					# (optional)
other_policies	= tsa_policy2, tsa_policy3	# acceptable policies (optional)
digests		= md5, sha1		# Acceptable message digests (mandatory)
accuracy	= secs:1, millisecs:500, microsecs:100	# (optional)
clock_precision_digits  = 0	# number of digits after dot. (optional)
ordering		= yes	# Is ordering defined for timestamps?
				# (optional, default: no)
tsa_name		= yes	# Must the TSA name be included in the reply?
				# (optional, default: no)
ess_cert_id_chain	= no	# Must the ESS cert id chain be included?
				# (optional, default: no)
