#
# OpenSSL example configuration file.
# This is mostly being used for generation of certificate requests.
#

# This definition stops the following lines choking if HOME isn't
# defined.
HOME			= .
RANDFILE		= $ENV::HOME/.rnd

# Extra OBJECT IDENTIFIER info:
#oid_file		= $ENV::HOME/.oid
oid_section		= new_oids

# To use this configuration file with the "-extfile" option of the
# "openssl x509" utility, name here the section containing the
# X.509v3 extensions to use:
# extensions		= 
# (Alternatively, use a configuration file that has only
# X.509v3 extensions in its main [= default] section.)

[ new_oids ]

# We can add new OIDs in here for use by 'ca', 'req' and 'ts'.
# Add a simple OID like this:
# testoid1=1.2.3.4
# Or use config file substitution like this:
# testoid2=${testoid1}.5.6

# Policies used by the TSA examples.
tsa_policy1 = 1.2.3.4.1
tsa_policy2 = 1.2.3.4.5.6
tsa_policy3 = 1.2.3.4.5.7

####################################################################
[ ca ]
default_ca	= CA_default		# The default ca section

####################################################################
[ CA_default ]

dir		= $ENV::CA_HOME		# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
#unique_subject	= no			# Set to 'no' to allow creation of
					# several ctificates with same subject.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $dir/ca/cacert.pem 	# The CA certificate
serial		= $dir/serial 		# The current serial number
crlnumber	= $dir/crlnumber	# the current crl number
					# must be commented out to leave a V1 CRL
crl		= $dir/crl.pem 		# The current CRL
private_key	= $dir/private/cakey.pem# The private key
RANDFILE	= $dir/private/.rand	# private random number file

x509_extensions	= usr_cert		# The extentions to add to the cert

# Comment out the following two lines for the "traditional"
# (and highly broken) format.
# name_opt 	= ca_default		# Subject Name options
# cert_opt 	= ca_default		# Certificate field options

# Extension copying option: use with caution.
# copy_extensions = copy

# Extensions to add to a CRL. Note: Netscape communicator chokes on V2 CRLs
# so this is commented out by default to leave a V1 CRL.
# crlnumber must also be commented out to leave a V1 CRL.
# crl_extensions	= crl_ext

default_days	= 3650			# how long to certify for
default_crl_days= 30			# how long before next CRL
default_md	= default		# use public key default MD
preserve	= no			# keep passed DN ordering

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		= policy_match

# For the CA policy
[ policy_match ]
countryName		= match
stateOrProvinceName	= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= optional
emailAddress		= optional

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

####################################################################
[ req ]
default_bits		= 1024
default_keyfile 	= privkey.pem
prompt			= no
distinguished_name	= req_distinguished_name
attributes		= req_attributes
x509_extensions	= v3_ca	# The extentions to add to the self signed cert

# Passwords for private keys if not present they will be prompted for
# input_password = secret
# output_password = secret 

# This sets a mask for permitted string types. There are several options. 
# default: PrintableString, T61String, BMPString.
# pkix	 : PrintableString, BMPString (PKIX recommendation before 2004)
# utf8only: only UTF8Strings (PKIX recommendation after 2004).
# nombstr : PrintableString, T61String (no BMPStrings or UTF8Strings).
# MASK:XXXX a literal mask value.
# WARNING: ancient versions of Netscape crash on BMPStrings or UTF8Strings.
string_mask = utf8only

req_extensions = v3_req # The extensions to add to a certificate request

[ req_distinguished_name ]
C=BR
ST=RS
L=Bento Goncalves
O=Metaway
CN=*.metaway.com.br
emailAddress=suporte@metaway.com.br

# SET-ex3			= SET extension number 3

[ req_attributes ]
#challengePassword		= A challenge password
#challengePassword_min		= 4
#challengePassword_max		= 20
#challengePassword_default	= challenge

#unstructuredName		= An optional company name
#unstructuredName_default		= 

[ usr_cert ]

# These extensions are added when 'ca' signs a request.

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.

basicConstraints=CA:FALSE

# Here are some examples of the usage of nsCertType. If it is omitted
# the certificate can be used for anything *except* object signing.

# This is OK for an SSL server.
# nsCertType			= server

# For an object signing certificate this would be used.
# nsCertType = objsign

# For normal client use this is typical
# nsCertType = client, email

# and for everything including object signing:
# nsCertType = client, email, objsign

# This is typical in keyUsage for a client certificate.
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment

# This will be displayed in Netscape's comment listbox.
nsComment			= "Metaway Tecnologia"

# PKIX recommendations harmless if included in all certificates.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

# This stuff is for subjectAltName and issuerAltname.
# Import the email address.
# subjectAltName=email:copy
# An alternative to produce certificates that aren't
# deprecated according to PKIX.
# subjectAltName=email:move

# Copy subject details
# issuerAltName=issuer:copy

#nsCaRevocationUrl		= http://www.domain.dom/ca-crl.pem
#nsBaseUrl
#nsRevocationUrl
#nsRenewalUrl
#nsCaPolicyUrl
#nsSslServerName

# This is required for TSA certificates.
# extendedKeyUsage = critical,timeStamping

[ v3_req ]

# Extensions to add to a certificate request

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName=@altnames

[ v3_ca ]

# Extensions for a typical CA

# PKIX recommendation.

subjectKeyIdentifier=hash

authorityKeyIdentifier=keyid:always,issuer

# This is what PKIX recommends but some broken software chokes on critical
# extensions.
#basicConstraints = critical,CA:true
# So we do this instead.
basicConstraints = CA:true

# Key usage: this is typical for a CA certificate. However since it will
# prevent it being used as an test self-signed certificate it is best
# left out by default.
# keyUsage = cRLSign, keyCertSign

# Some might want this also
# nsCertType = sslCA, emailCA

# Include email address in subject alt name: another PKIX recommendation
# subjectAltName=email:copy
# Copy issuer details
# issuerAltName=issuer:copy

# DER hex encoding of an extension: beware experts only!
# obj=DER:02:03
# Where 'obj' is a standard or added object
# You can even override a supported extension:

subjectAltName=@altnames
# basicConstraints= critical, DER:30:03:01:01:FF

[ crl_ext ]

# CRL extensions.
# Only issuerAltName and authorityKeyIdentifier make any sense in a CRL.

# issuerAltName=issuer:copy
authorityKeyIdentifier=keyid:always

[ proxy_cert_ext ]
# These extensions should be added when creating a proxy certificate

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.

basicConstraints=CA:FALSE

# Here are some examples of the usage of nsCertType. If it is omitted
# the certificate can be used for anything *except* object signing.

# This is OK for an SSL server.
# nsCertType			= server

# For an object signing certificate this would be used.
# nsCertType = objsign

# For normal client use this is typical
# nsCertType = client, email

# and for everything including object signing:
# nsCertType = client, email, objsign

# This is typical in keyUsage for a client certificate.
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment

# This will be displayed in Netscape's comment listbox.
nsComment			= "OpenSSL Generated Certificate"

# PKIX recommendations harmless if included in all certificates.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

# This stuff is for subjectAltName and issuerAltname.
# Import the email address.
# subjectAltName=email:copy
# An alternative to produce certificates that aren't
# deprecated according to PKIX.
# subjectAltName=email:move

# Copy subject details
# issuerAltName=issuer:copy

#nsCaRevocationUrl		= http://www.domain.dom/ca-crl.pem
#nsBaseUrl
#nsRevocationUrl
#nsRenewalUrl
#nsCaPolicyUrl
#nsSslServerName

# This really needs to be in place for it to be a proxy certificate.
proxyCertInfo=critical,language:id-ppl-anyLanguage,pathlen:3,policy:foo

####################################################################
[ tsa ]

default_tsa = tsa_config1	# the default TSA section

[ tsa_config1 ]

# These are used by the TSA reply generation only.
dir		= ./demoCA		# TSA root directory
serial		= $dir/tsaserial	# The current serial number (mandatory)
crypto_device	= builtin		# OpenSSL engine to use for signing
signer_cert	= $dir/tsacert.pem 	# The TSA signing certificate
					# (optional)
certs		= $dir/cacert.pem	# Certificate chain to include in reply
					# (optional)
signer_key	= $dir/private/tsakey.pem # The TSA private key (optional)



default_policy	= tsa_policy1		# Policy if request did not specify it
					# (optional)
other_policies	= tsa_policy2, tsa_policy3	# acceptable policies (optional)
digests		= md5, sha1		# Acceptable message digests (mandatory)
accuracy	= secs:1, millisecs:500, microsecs:100	# (optional)
clock_precision_digits  = 0	# number of digits after dot. (optional)
ordering		= yes	# Is ordering defined for timestamps?
				# (optional, default: no)
tsa_name		= yes	# Must the TSA name be included in the reply?
				# (optional, default: no)
ess_cert_id_chain	= no	# Must the ESS cert id chain be included?
				# (optional, default: no)
[ altnames ]
IP.3=192.168.0.3
IP.4=192.168.0.4
IP.5=192.168.0.5
IP.6=192.168.0.6
IP.7=192.168.0.7
IP.8=192.168.0.8
IP.9=192.168.0.9
IP.10=192.168.0.10
IP.11=192.168.0.11
IP.12=192.168.0.12
IP.13=192.168.0.13
IP.14=192.168.0.14
IP.15=192.168.0.15
IP.16=192.168.0.16
IP.17=192.168.0.17
IP.18=192.168.0.18
IP.19=192.168.0.19
IP.20=192.168.0.20
IP.21=192.168.0.21
IP.22=192.168.0.22
IP.23=192.168.0.23
IP.24=192.168.0.24
IP.25=192.168.0.25
IP.26=192.168.0.26
IP.27=192.168.0.27
IP.28=192.168.0.28
IP.29=192.168.0.29
IP.30=192.168.0.30
IP.31=192.168.0.31
IP.32=192.168.0.32
IP.33=192.168.0.33
IP.34=192.168.0.34
IP.35=192.168.0.35
IP.36=192.168.0.36
IP.37=192.168.0.37
IP.38=192.168.0.38
IP.39=192.168.0.39
IP.40=192.168.0.40
IP.41=192.168.0.41
IP.42=192.168.0.42
IP.43=192.168.0.43
IP.44=192.168.0.44
IP.45=192.168.0.45
IP.46=192.168.0.46
IP.47=192.168.0.47
IP.48=192.168.0.48
IP.49=192.168.0.49
IP.50=192.168.0.50
IP.51=192.168.0.51
IP.52=192.168.0.52
IP.53=192.168.0.53
IP.54=192.168.0.54
IP.55=192.168.0.55
IP.56=192.168.0.56
IP.57=192.168.0.57
IP.58=192.168.0.58
IP.59=192.168.0.59
IP.60=192.168.0.60
IP.61=192.168.0.61
IP.62=192.168.0.62
IP.63=192.168.0.63
IP.64=192.168.0.64
IP.65=192.168.0.65
IP.66=192.168.0.66
IP.67=192.168.0.67
IP.68=192.168.0.68
IP.69=192.168.0.69
IP.70=192.168.0.70
IP.71=192.168.0.71
IP.72=192.168.0.72
IP.73=192.168.0.73
IP.74=192.168.0.74
IP.75=192.168.0.75
IP.76=192.168.0.76
IP.77=192.168.0.77
IP.78=192.168.0.78
IP.79=192.168.0.79
IP.80=192.168.0.80
IP.81=192.168.0.81
IP.82=192.168.0.82
IP.83=192.168.0.83
IP.84=192.168.0.84
IP.85=192.168.0.85
IP.86=192.168.0.86
IP.87=192.168.0.87
IP.88=192.168.0.88
IP.89=192.168.0.89
IP.90=192.168.0.90
IP.91=192.168.0.91
IP.92=192.168.0.92
IP.93=192.168.0.93
IP.94=192.168.0.94
IP.95=192.168.0.95
IP.96=192.168.0.96
IP.97=192.168.0.97
IP.98=192.168.0.98
IP.99=192.168.0.99
IP.100=192.168.0.100
IP.101=192.168.0.101
IP.102=192.168.0.102
IP.103=192.168.0.103
IP.104=192.168.0.104
IP.105=192.168.0.105
IP.106=192.168.0.106
IP.107=192.168.0.107
IP.108=192.168.0.108
IP.109=192.168.0.109
IP.110=192.168.0.110
IP.111=192.168.0.111
IP.112=192.168.0.112
IP.113=192.168.0.113
IP.114=192.168.0.114
IP.115=192.168.0.115
IP.116=192.168.0.116
IP.117=192.168.0.117
IP.118=192.168.0.118
IP.119=192.168.0.119
IP.120=192.168.0.120
IP.121=192.168.0.121
IP.122=192.168.0.122
IP.123=192.168.0.123
IP.124=192.168.0.124
IP.125=192.168.0.125
IP.126=192.168.0.126
IP.127=192.168.0.127
IP.128=192.168.0.128
IP.129=192.168.0.129
IP.130=192.168.0.130
IP.131=192.168.0.131
IP.132=192.168.0.132
IP.133=192.168.0.133
IP.134=192.168.0.134
IP.135=192.168.0.135
IP.136=192.168.0.136
IP.137=192.168.0.137
IP.138=192.168.0.138
IP.139=192.168.0.139
IP.140=192.168.0.140
IP.141=192.168.0.141
IP.142=192.168.0.142
IP.143=192.168.0.143
IP.144=192.168.0.144
IP.145=192.168.0.145
IP.146=192.168.0.146
IP.147=192.168.0.147
IP.148=192.168.0.148
IP.149=192.168.0.149
IP.150=192.168.0.150
IP.151=192.168.0.151
IP.152=192.168.0.152
IP.153=192.168.0.153
IP.154=192.168.0.154
IP.155=192.168.0.155
IP.156=192.168.0.156
IP.157=192.168.0.157
IP.158=192.168.0.158
IP.159=192.168.0.159
IP.160=192.168.0.160
IP.161=192.168.0.161
IP.162=192.168.0.162
IP.163=192.168.0.163
IP.164=192.168.0.164
IP.165=192.168.0.165
IP.166=192.168.0.166
IP.167=192.168.0.167
IP.168=192.168.0.168
IP.169=192.168.0.169
IP.170=192.168.0.170
IP.171=192.168.0.171
IP.172=192.168.0.172
IP.173=192.168.0.173
IP.174=192.168.0.174
IP.175=192.168.0.175
IP.176=192.168.0.176
IP.177=192.168.0.177
IP.178=192.168.0.178
IP.179=192.168.0.179
IP.180=192.168.0.180
IP.181=192.168.0.181
IP.182=192.168.0.182
IP.183=192.168.0.183
IP.184=192.168.0.184
IP.185=192.168.0.185
IP.186=192.168.0.186
IP.187=192.168.0.187
IP.188=192.168.0.188
IP.189=192.168.0.189
IP.190=192.168.0.190
IP.191=192.168.0.191
IP.192=192.168.0.192
IP.193=192.168.0.193
IP.194=192.168.0.194
IP.195=192.168.0.195
IP.196=192.168.0.196
IP.197=192.168.0.197
IP.198=192.168.0.198
IP.199=192.168.0.199
IP.200=192.168.0.200
IP.201=192.168.0.201
IP.202=192.168.0.202
IP.203=192.168.0.203
IP.204=192.168.0.204
IP.205=192.168.0.205
IP.206=192.168.0.206
IP.207=192.168.0.207
IP.208=192.168.0.208
IP.209=192.168.0.209
IP.210=192.168.0.210
IP.211=192.168.0.211
IP.212=192.168.0.212
IP.213=192.168.0.213
IP.214=192.168.0.214
IP.215=192.168.0.215
IP.216=192.168.0.216
IP.217=192.168.0.217
IP.218=192.168.0.218
IP.219=192.168.0.219
IP.220=192.168.0.220
IP.221=192.168.0.221
IP.222=192.168.0.222
IP.223=192.168.0.223
IP.224=192.168.0.224
IP.225=192.168.0.225
IP.226=192.168.0.226
IP.227=192.168.0.227
IP.228=192.168.0.228
IP.229=192.168.0.229
IP.230=192.168.0.230
IP.231=192.168.0.231
IP.232=192.168.0.232
IP.233=192.168.0.233
IP.234=192.168.0.234
IP.235=192.168.0.235
IP.236=192.168.0.236
IP.237=192.168.0.237
IP.238=192.168.0.238
IP.239=192.168.0.239
IP.240=192.168.0.240
IP.241=192.168.0.241
IP.242=192.168.0.242
IP.243=192.168.0.243
IP.244=192.168.0.244
IP.245=192.168.0.245
IP.246=192.168.0.246
IP.247=192.168.0.247
IP.248=192.168.0.248
IP.249=192.168.0.249
IP.250=192.168.0.250
IP.251=192.168.0.251
IP.252=192.168.0.252
IP.253=192.168.0.253
IP.254=192.168.0.254
